.songs {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}

.songs:hover {
    background: rgb(235, 236, 237) !important;
}

.songs65 {
    position: relative;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

.songs75 {
    position: relative;
    width: 75px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

.songs80 {
    position: relative;
    width: 80px;
    height: 100%;
    line-height: 30px;
}

.songs95 {
    position: relative;
    width: 95px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-indent: 20px;
}

.fontSize12 {
    font-size: 12px;
}

.fontSize14 {
    font-size: 14px;
}

.songs180 {
    position: relative;
    width: 180px;
    height: 100%;
    font-size: 14px;
    line-height: 30px;
}

.songs230 {
    position: relative;
    width: 230px;
    height: 100%;
    font-size: 14px;
    line-height: 30px;
}

.bg {
    background: rgb(245, 245, 247);
}

.color {
    color: red;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}