.songList {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 0 0 0;
}

.main {
    width: 400px;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0));
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.295);
    margin: 0 auto;
    position: relative;
}

.login {
    width: 400px;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.img {
    width: 40px;
    height: 40px;
}

.input {
    display: inline-block;
    width: 200px;
    height: 35px;
    outline: none;
}

.button {
    width: 80px;
}

.alert {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}